---
// Import the necessary dependencies
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";

import HeroImage from "@images/hero-image-2.jpg";
---

<!-- Defining a grid container that holds all the content -->
<section
  class="mx-auto grid max-w-[85rem] gap-4 px-4 pt-14 pb-0 sm:px-6 md:grid-cols-2 md:items-center md:gap-8 lg:px-8 2xl:max-w-full"
>
  <!-- Title and description -->
  <div>
    <!-- Each h1 and p tag renders a portion of the title and subTitle defined above -->
    <h1
      class="block text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-4xl lg:text-6xl lg:leading-tight"
    >
      <!-- About Fragment: https://docs.astro.build/en/basics/astro-syntax/#fragments -->
      <Fragment set:html="Henryetta’s Best Heat & Air Company" />
    </h1>
    <p
      class="mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5"
    >
      We're Okmulgee County's heating, air conditioning, and ventiliation experts. Residential and/or commercial. Let us earn your trust!
    </p>
    <!-- Action Button Section: This section includes two CTAs with their own styles and URL -->
    <div class="mt-7 grid w-full gap-3 sm:inline-flex">
      <PrimaryCTA
        title="(918) 268-4066"
        url="tel:+19182684066"
        noArrow
      />
      <SecondaryCTA
        title="Get Quote"
        url="/contact"
      />
    </div>

  </div>
  <!-- Hero Image Section -->
  <div class="flex w-full">
      <div class="top-12 overflow-hidden rounded-lg">
        <Image
              src={HeroImage}
              alt="Kelch's Total Comfort service vehicle"
              class="h-full w-full scale-110 object-cover object-center rounded-lg"
              draggable={"false"}
              loading={"eager"}
              format={"avif"}
        />
    </div>
  </div>
</section>
