---
// Import the necessary dependencies
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";

import HeroImage from "@images/hero-image-2.jpg";
import HeroImageAlt from "@images/hero-image-3.png";
import TruckImg from "@images/truck.png";
---

<!-- Defining a grid container that holds all the content -->
<section class="hidden md:block md:mt-[-10%] rounded-3xl">
  <div class="relative rounded-2xl">
    <!-- Hero Image Section -->
    <div class="overflow-hidden rounded-lg shadow-2xl">
      <div class="absolute inset-0 bg-black/50 z-10"></div>
      <Image
        src={HeroImageAlt}
        alt="Kelch's Total Comfort service vehicle"
        class="scale-110"
        draggable={"false"}
        loading={"eager"}
        format={"avif"}
        style="height: 90vh; width: 100%;"
      />
      
      <!-- Added SVG Wave -->
      <div class="absolute bottom-0 left-0 w-full z-10">
        <svg viewBox="0 0 1440 120" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 120L60 110C120 100 240 80 360 70C480 60 600 60 720 65C840 70 960 80 1080 85C1200 90 1320 90 1380 90L1440 90V120H1380C1320 120 1200 120 1080 120C960 120 840 120 720 120C600 120 480 120 360 120C240 120 120 120 60 120H0Z" 
            fill="#EF4444"/>
        </svg>
      </div>
    </div>

    <!-- Content Section -->
    <div class="absolute top-2/3 -translate-y-2/3 inset-0 z-20 p-8 w-full lg:w-2/3">
      <h1 class="block text-balance text-6xl font-bold tracking-tight text-white lg:leading-tight">
        <Fragment set:html="Green Country's Heat & Air Experts" />
      </h1>
      <p class="mt-3 text-pretty text-lg leading-relaxed text-neutral-200 lg:w-4/5">
        We're heating, air conditioning, and ventiliation experts service the entire Green Country area. Residential and/or commercial. Let us earn your trust!
      </p>
      <div class="mt-7 grid w-full gap-3 sm:inline-flex">
        <PrimaryCTA
          title="(918) 268-4066"
          url="tel:+19182684066"
          noArrow
        />
        <SecondaryCTA
          title="Get a Quote"
          url="/contact"
        />
      </div>
    </div>
  </div>
</section>

<section
  class="md:hidden sm:block mx-auto grid max-w-[85rem] gap-4 px-4 pt-14 pb-0 sm:px-6 md:grid-cols-2 md:items-center md:gap-8 lg:px-8 2xl:max-w-full"
>
  <!-- Title and description -->
  <div>
    <!-- Each h1 and p tag renders a portion of the title and subTitle defined above -->
    <h1
      class="block text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-4xl lg:text-6xl lg:leading-tight"
    >
      <!-- About Fragment: https://docs.astro.build/en/basics/astro-syntax/#fragments -->
      <Fragment set:html="Green Country's Heat & Air Experts" />
    </h1>
    <p
      class="mt-3 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5"
    >
    We're heating, air conditioning, and ventiliation experts service the entire Green Country area. Residential and/or commercial. Let us earn your trust!
  </p>
    <!-- Action Button Section: This section includes two CTAs with their own styles and URL -->
    <div class="mt-7 grid w-full gap-3 sm:inline-flex">
      <PrimaryCTA
        title="(918) 268-4066"
        url="tel:+19182684066"
        noArrow
      />
      <SecondaryCTA
        title="Get Quote"
        url="/contact"
      />
    </div>

  </div>
  <!-- Hero Image Section -->
  <div class="flex w-full">
      <div class="top-12 overflow-hidden rounded-lg">
        <Image
              src={HeroImageAlt}
              alt="Kelch's Total Comfort service vehicle"
              class="h-full w-full scale-110 object-cover object-center rounded-lg"
              draggable={"false"}
              loading={"eager"}
              format={"avif"}
        />
    </div>
  </div>
</section>
