---
import FullStar from "@components/ui/stars/FullStar.astro";
import HalfStar from "@components/ui/stars/HalfStar.astro";

const { starCount = 0, rating, reviews } = Astro.props;

interface Props {
  avatars?: Array<string>;
  starCount?: number;
  rating?: string;
  reviews?: string;
}
---

<div class="">
  <div class="py-5">
    <div class="text-center sm:flex sm:items-center sm:text-start">
      <!-- Review Ratings -->
      <div class="flex flex-col items-center sm:items-start">
        <div class="flex items-baseline pt-5 sm:ps-5 sm:pt-0">
          <div class="flex space-x-1">
            <!-- Your star ratings -->
            {
              Array(starCount)
                .fill(0)
                .map((_, i) => <FullStar key={i} />)
            }
            <!-- Adding additional half-star -->
            <HalfStar />
          </div>
          <p class="text-lg font-semibold text-neutral-800 dark:text-neutral-200">
            <Fragment set:html={rating} />
          </p>
        </div>
        <div class="text-base text-neutral-800 dark:text-neutral-200 sm:ps-5">
          <p>
            <Fragment set:html={reviews} />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
