---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import pricing from "@data/pricing.json";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import faqs from "@data/faqs.json";
import construction from "@images/ventilating.jpg";
import tools from "@images/heating.jpg";
import dashboard from "@images/automated-tools.jpg";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";

---

<MainLayout>
  <AnnouncementBanner
    title="Ask us how to get 10% off a new install"
    btnId="dismiss-button"
    btnTitle="Call Now"
    url="tel:+19182684066"
  />

  <HeroSection />

  <TestimonialsSectionAlt />

  <ClientsSection
    title="The Best Equipment Money Can Buy"
    subTitle="Experience the reliability of American Standard and Samsung."
  />

  <TestimonialsSection
    title="Quality comes standard"
    subTitle="At Kelch's Total Comfort, we ensure your home stays perfectly comfortable, year-round... whether you keep your thermostat at 65 or 78."
    testimonials={[
      {
        content:
          "On time, very respectful, and honest. I would reccomend them to anyone!",
        author: "Brian Tyalor",
        role: "Henryetta Resident",
      },
    ]}
    statistics={[
      {
        count: "1000+",
        description:
          "customers serviced — both residential and commercial",
      },
      {
        count: "75%",
        description:
          "of customers are seen the same-day they call.",
      },
      {
        count: "10%",
        description:
          "average reduction in energy costs with a new A/C install",
      },
      {
        count: "2x",
        description: "Units last 2x as long with one of our preventative maintenace plans (see below)",
      },
    ]}
  />

  <FeaturesNavs
    title=`<span class="text-red-500 dark:text-yellow-400">Kelch's</span> Total Comfort is there for every season.`
    tabs={[
      {
        heading: "Heating",
        content:
          "As the weather shifts, we're here to ensure your family stays safe and warm throughout the upcoming winter months. Don't get left in the cold—let us help you stay cozy all season long!",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Air Conditioning",
        content:
          "With the extreme heat and excessive heat warnings in effect, you can rest assured that your air conditioning system will handle the summer temperatures without a struggle.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Ventilating",
        content:
          "We offer expert ventilation services designed to deliver fresh, clean air throughout your home or business. Let our skilled team enhance your indoor air quality, ensuring a healthier and more comfortable space for you and your family.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Work Together"
    subTitle="We're family-owned, local, and looking forward to earning your trust."
    btnTitle="Get a Quote"
    url="/contact"
  />
  </MainLayout>
</MainLayout>
