---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import pricing from "@data/pricing.json";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import faqs from "@data/faqs.json";
import AC from "@images/AC.png";
import heating from "@images/heating.jpeg";
import Ventilation from "@images/ventilation.webp";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";
import VideoSplash from "@components/VideoSplash.astro";

---

<MainLayout>
  <VideoSplash />
  <AnnouncementBanner
    title="Ask us how to get 10% off a new install"
    btnId="dismiss-button"
    btnTitle="Call Now"
    url="tel:+19184262889"
  />

  <HeroSection />

  <ClientsSection
    title="Trusted Brand Partner"
    subTitle="We proudly install and service American Standard products."
  />

  <TestimonialsSection
    title="Quality comes standard"
    subTitle="At H & P Heating and Air Conditioning, we're committed to delivering exceptional comfort and reliability for your home or business, no matter the season."
    testimonials={[
      {
        content:
          "Absolutely 100% customer service! They go over & beyond. I called on a Monday for a quote, they ordered our unit & was completely installed by Friday. Thank you to your entire team for making this such an easy process!",
        author: "Melissa Lee Smith",
        role: "Customer",
      },
    ]}
    statistics={[
      {
        count: "1000+",
        description:
          "customers serviced — both residential and commercial",
      },
      {
        count: "75%",
        description:
          "of customers are seen the same-day they call.",
      },
      {
        count: "10%",
        description:
          "average reduction in energy costs with a new A/C install",
      },
      {
        count: "2x",
        description: "Units last 2x as long with one of our preventative maintenace plans (see below)",
      },
    ]}
  />

  <FeaturesNavs
    title=`<span class="text-red-500 dark:text-red-500">H & P</span> Heating and Air Conditioning—your trusted partner for year-round comfort.`
    tabs={[
      {
        heading: "Heating",
        content:
          "Keep your home warm and your family protected during the coldest months. We provide reliable heating solutions for complete comfort all winter long.",
        svg: "fire",
        src: heating,
        alt: "Alt text for the image",
        first: true,
      },
      {
        heading: "Air Conditioning",
        content:
          "Beat the heat with confidence. Our expert team ensures your home stays cool and comfortable with reliable, energy-efficient cooling solutions.",
        svg: "AC",
        src: AC,
        alt: "Alt text for the image",
        second: true,
      },
      {
        heading: "Ventilating",
        content:
          "Breathe easier with superior indoor air quality. Our ventilation solutions deliver fresh, clean air year-round for a healthier living environment.",
        svg: "house",
        src: Ventilation,
        alt: "Alt text for the image",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <TestimonialsSectionAlt />

  <FAQ faqs={faqs} />

  <HeroSectionAlt
    title="Let's Work Together"
    subTitle="We're local, reliable, and looking forward to earning your trust."
    btnTitle="Get a Quote"
    url="/contact"
  />
</MainLayout>
